


.headerlink {
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    background-color: #F9FAF8;
    color: #1F2937;
}

.awesome {
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 800;
}



.quoteone {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quotename {
    background-color: #E5E7EB;
    font-weight: 800;
    font-size: 26px;

}

.signupbar {
    background-color: #3882F6;
    color:#F9FAF8;
}

.copyright {
    color: #E5E7EB;
    background-color:#1F2937;
    font-size: 16px;
}

.buttonone {
    background-color: #3882F6;
    color:#F9FAF8;
}